<div raphael id="canvas_eire"></div>


<!------------------------------>
<!--      3D item modal       -->
<!------------------------------>

<script type="text/ng-template" id="modelModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{spot.name}}</h3>
    </div>
    <div class="modal-body">
        <p class="text-center" ng-bind-html="model"></p>
        <h3>Description</h3>
        <p>
            {{spot.description}}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="">Back</button>
    </div>
</script>

<script type="text/ng-template" id="galleryModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{spot.name}}</h3>
    </div>
    <div class="modal-body">
            
            <carousel interval="interval">
            
      <slide ng-repeat="slide in slides">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </slide>
            
            </carousel>
        



        
        <h3>Description</h3>
        <p>
            {{spot.description}}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="">Back</button>
    </div>
</script>

<script type="text/ng-template" id="photosphereModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{spot.name}}</h3>
    </div>
    <div class="modal-body">
        <p class="text-center">
            <photosphere path="{{spot.filename}}"></photosphere>
        </p>
        <h3>Description</h3>
        <p>
            {{spot.description}}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="">Back</button>
    </div>
</script>